@import "variables"
@import "typography"

*
  box-sizing: border-box

body
  color: $color-almost-black
  margin: 100px 0 0 0
  font-family: $font-primary

header
  @include outline($color-beige)
  align-items: center
  background: $color-blue url("../img/built/grain.png")
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  justify-content: space-around
  min-height: 100px
  position: fixed
  top: 0
  width: 100%
  z-index: 10

//  NAVIGATION
nav
  flex: 1
  img
    height: 120px
    left: 50%
    position: fixed
    top: 0
    transform: translate(-50%, 0)
    z-index: 20
  ul
    display: flex
    justify-content: space-around
    list-style-type: none
    margin: 0
    padding: 0
    text-align: center
    li
      position: relative
      padding: 20px 0
      &.icon
        display: none
      a
        color: $color-beige
        cursor: pointer
        font-family: $font-decoration
        font-size: 1.5em
        text-decoration: none
        text-shadow: 2px 2px 5px $color-black-opacity
        text-transform: uppercase
        &:hover
          color: $color-orange

@media (max-width: 768px)
  body
    margin: 0
  header
    visibility: hidden
    &.responsive
      visibility: visible

  ul.topnav
    flex-direction: column
    li
      &.icon
        font-size: 2em
        display: inline
        line-height: 1.5em
        position: absolute
        right: 20px
        top: 0
        visibility: visible
        z-index: 100
      &:nth-of-type(4)
        display: none

//  SEPARATOR WITH --XXX--
.separator span
  display: inline-block
  font-family: $font-primary
  font-size: 22px
  line-height: 22px
  margin: 10px auto 5px
  position: relative
  &:before, &:after
    border-bottom: 2px solid
    content: ""
    height: 6px
    position: absolute
    top: 4px
    width: 40px
  &:before
    margin-right: 10px
    right: 100%
  &:after
    left: 100%
    margin-left: 10px

// ALL SECTIONS
section
  @include outline($color-beige)
  background-image: url("../img/built/grain.png")
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  min-height: calc(100vh - 100px)
  padding-bottom: 30px
  position: relative
  text-align: center

//  ABOUT ME SECTION
.about-me
  background-color: $color-blue
  .icon
    @include icon-style
    transition: 1.5s all
    &:hover
      transform: rotate(360deg)
    a, a:visited, a:active
      color: $color-beige

//  PORTFOLIO SECTION
.portfolio
  background-color: $color-orange

.portfolio-item
  background: white
  border-radius: 5px
  margin: 20px
  div
    border: 1px solid transparent
    position: relative
  img
    padding: 5px
    width: 100%
  i
    background: white
    border-radius: 50%
    color: $color-almost-black
    cursor: pointer
    font-size: 2em
    height: 50px
    left: 50%
    line-height: 1.6em
    position: absolute
    text-shadow: 2px 2px 5px $color-gray-dark
    top: -30%
    transform: translate(20%)
    transition: .5s all
    width: 50px
    &:hover
      transform: translate(20%, -20%)
      box-shadow: 0 10px 5px -5px $color-gray-dark
    &:active
      box-shadow: 0 5px 5px -3px $color-gray-dark
      transform: translate(20%, -10%)
    &.fa-github
      transform: translate(-120%)
      &:hover
        transform: translate(-120%, -20%)
      &:active
        transform: translate(-120%, -10%)
  p
    padding-top: 20px

// TECHNOLOGIES SECTION
.technologies
  background-color: $color-beige
  outline-color: $color-gray-dark

.technologies-item
  h3
    margin: 10px auto 30px
  img
    width: 100%
  .icon
    @include icon-style
    &:hover
      box-shadow: 0 0 0 4px $color-beige, 0 0 0 8px $color-red, 0 25px 15px -5px $color-gray-dark
      transform: translate(0, -15%)

//  CONTACT SECTION
.contact
  background-color: $color-gray-dark
  color: $color-beige
  fieldset
    border: none
    font-family: $font-primary
    margin: 0 auto
    width: 550px
    @media (max-width: 576px)
      width: 100%
  input, textarea
    border: none
    border-radius: 5px
    display: block
    font-family: $font-primary
    font-size: 1em
    margin: 10px auto
    padding: 10px
    resize: vertical
    width: 100%
    &.button
      background: $color-beige
      color: $color-almost-black

// FOOTER
.footer
  bottom: 0
  color: $color-beige
  height: 60px
  position: absolute
  text-align: center
  width: 100%
  a
    color: $color-beige
    &:active, &:visited
      color: $color-beige
    &:hover
      color: $color-gray-light
      text-decoration: none

// GRID
.container
  margin: 0 auto
  max-width: 1200px

.row
  display: flex
  flex-wrap: wrap

// For desktop
.col-md-1
  flex: 8.333%
.col-md-2
  flex: 16.667%
.col-md-3
  flex: 25%
.col-md-4
  flex: 33.333%
.col-md-5
  flex: 41.667%
.col-md-6
  flex: 50%
.col-md-7
  flex: 58.333%
.col-md-8
  flex: 66.667%
.col-md-9
  flex: 75%
.col-md-10
  flex: 83.333%
.col-md-11
  flex: 91.667%
.col-md-12
  flex: 100%

//  FOR TABLETS
@media (max-width: 768px)
  .col-sm-0
    flex: 0
  .col-sm-1
    flex: 8.333%
  .col-sm-2
    flex: 16.667%
  .col-sm-3
    flex: 25%
  .col-sm-4
    flex: 33.333%
  .col-sm-5
    flex: 41.667%
  .col-sm-6
    flex: 50%
  .col-sm-7
    flex: 58.333%
  .col-sm-8
    flex: 66.667%
  .col-sm-9
    flex: 75%
  .col-sm-10
    flex: 83.333%
  .col-sm-11
    flex: 91.667%
  .col-sm-12
    flex: 100%

// FOR MOBILE
@media (max-width: 576px)
  .col-xs-0
    flex: 0
  .col-xs-1
    flex: 8.333%
  .col-xs-2
    flex: 16.667%
  .col-xs-3
    flex: 25%
  .col-xs-4
    flex: 33.333%
  .col-xs-5
    flex: 41.667%
  .col-xs-6
    flex: 50%
  .col-xs-7
    flex: 58.333%
  .col-xs-8
    flex: 66.667%
  .col-xs-9
    flex: 75%
  .col-xs-10
    flex: 83.333%
  .col-xs-11
    flex: 91.667%
  .col-xs-12
    flex: 100%