@import "variables"
@import "typography"
@import "grid"

*
  box-sizing: border-box

body
  color: $color-almost-black
  margin: 100px 0 0 0
  font-family: $font-primary

header
  @include outline($color-beige)
  align-items: center
  background: $color-blue url("../img/built/grain.png")
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  justify-content: space-around
  min-height: 100px
  position: fixed
  top: 0
  width: 100%
  z-index: 10

//  NAVIGATION
nav
  flex: 1
  img
    height: 120px
    left: 50%
    position: fixed
    top: 0
    transform: translate(-50%, 0)
    z-index: 20
  ul
    display: flex
    justify-content: space-around
    list-style-type: none
    margin: 0
    padding: 0
    text-align: center
    li
      position: relative
      padding: 20px 0
      &.icon
        display: none
      a
        color: $color-beige
        cursor: pointer
        font-family: $font-decoration
        font-size: 1.5em
        text-decoration: none
        text-shadow: 2px 2px 5px $color-black-opacity
        text-transform: uppercase
        &:not(#toggleMenuIcon):hover
          color: $color-orange

@media (max-width: 768px)
  body
    margin: 0
  header
    visibility: hidden
    &.responsive
      visibility: visible

  ul.topnav
    flex-direction: column
    li
      &.icon
        font-size: 2em
        display: inline
        line-height: 1.5em
        position: absolute
        right: 20px
        top: 0
        visibility: visible
        z-index: 25
      &:nth-of-type(4)
        display: none

//  SEPARATOR WITH --XXX--
.separator span
  display: inline-block
  font-family: $font-primary
  font-size: 22px
  line-height: 22px
  margin: 10px auto 5px
  position: relative
  &:before, &:after
    border-bottom: 2px solid
    content: ""
    height: 6px
    position: absolute
    top: 4px
    width: 40px
  &:before
    margin-right: 10px
    right: 100%
  &:after
    left: 100%
    margin-left: 10px

// ALL SECTIONS
section
  @include outline($color-beige)
  background-image: url("../img/built/grain.png")
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  min-height: calc(100vh - 100px)
  padding-bottom: 30px
  position: relative
  text-align: center
  @media (max-width: 768px)
    min-height: 100vh

//  ABOUT ME SECTION
.about-me
  background-color: $color-blue
  overflow: hidden
  z-index: 0
  p
    padding: 0 12px

  .ribbon
    background: $color-yellow
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px
    font-size: 1em
    line-height: 2em
    margin: 50px auto 80px
    max-width: 360px
    min-width: 260px
    position: relative
    text-align: center
    @media (max-width: 576px)
      margin: 30px auto
      max-width: 260px
    // LEFT AND RIGHT PART OF A RIBBON
    &:before, &:after
      border: 24px solid #FFEDC8
      bottom: -12px
      content: ''
      display: block
      position: absolute
      z-index: -1
    &:before
      border-left-color: rgba(0, 0, 0, 0)
      border-right-width: 33px
      box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 1px -1px
      left: -37px
    &:after
      border-left-width: 33px
      border-right-color: rgba(0, 0, 0, 0)
      box-shadow: rgba(0, 0, 0, 0.3) -2px 2px 1px -1px
      right: -37px
  // TEXT IN RIBBON
  .ribbon-content
    font-family: Bazar, sans-serif
    letter-spacing: 0.1em
    padding: 10px
    word-spacing: 0.3em
    // gray triangle
    &::before, &::after
      border-color: $color-gray-dark rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
      border-style: solid
      bottom: -12px
      content: ''
      display: block
      position: absolute
    &::before
      border-width: 12px 0 0 20px
      left: 0
    &::after
      border-width: 12px 20px 0 0
      right: 0
    // DASHED DECORATION OF A RIBBON
    span
      &::before
        border-top: 1px dashed rgba(0, 0, 0, 0.3)
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5)
        content: ""
        display: block
        left: 0
        margin-top: 2px
        position: absolute
        top: 0
        width: 100%
      &::after
        border-top: 1px dashed rgba(0, 0, 0, 0.3)
        bottom: 0
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.3)
        content: ""
        display: block
        left: 0
        margin-bottom: 2px
        position: absolute
        width: 100%

  // DOTS AROUND RIBBON
  .dots
    background-color: #FFF0CE
    border-radius: 50%
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px
    height: 6px
    position: absolute
    top: 32px
    width: 6px
    @media (max-width: 768px)
      display: none

  .dot1
    left: -50px
  .dot2
    left: -75px
  .dot3
    left: -100px
  .dot4
    left: -125px
  .dot5
    right: -50px
  .dot6
    right: -75px
  .dot7
    right: -100px
  .dot8
    right: -125px

  // ARROW ON THE BOTTOM
  i
    color: $color-gray-dark
    font-size: 4em
    margin-top: 50px
    padding: 10px
    text-shadow: 0 0 0 $color-gray-dark
    transition: .3s all ease
    @media (max-width: 576px)
      margin-top: 0
    &:active, &:visited
      color: $color-gray-dark
    &:hover
      text-shadow: 0 20px 0 $color-gray-dark
      transform: translate(0, 20px)


//  PORTFOLIO SECTION
.portfolio
  background-color: $color-orange

.portfolio-item
  background: white
  border-radius: 5px
  margin: 20px
  overflow: hidden
  position: relative
  // OVERLAY WITH TEXT
  &:hover .item-text
    opacity: 1
  .item-text
    background: rgba(255, 255, 255, .85)
    bottom: 30%
    left: 5px
    opacity: 0
    position: absolute
    right: 5px
    text-align: center
    top: 5px
    transition: all 1s ease
    p
      color: black
      padding: 0
  // LINK AND GITHUB ICONS
  .links
    border: 1px solid transparent
    position: relative
  img
    padding: 5px
    width: 100%

  i
    background: white
    border-radius: 50%
    color: $color-almost-black
    cursor: pointer
    font-size: 1.8em
    height: 50px
    left: 50%
    line-height: 1.6em
    position: absolute
    //text-shadow: 2px 2px 5px $color-gray-dark
    top: -30%
    transform: translate(20%)
    transition: .5s all
    width: 50px
    &:hover
      transform: translate(20%, -20%)
      box-shadow: 0 10px 5px -5px $color-gray-dark
    &:active
      box-shadow: 0 5px 5px -3px $color-gray-dark
      transform: translate(20%, -10%)
    &.fa-github
      font-size: 2em
      transform: translate(-120%)
      &:hover
        transform: translate(-120%, -20%)
      &:active
        transform: translate(-120%, -10%)
  p
    padding-top: 20px

// TECHNOLOGIES SECTION
.technologies
  background-color: $color-beige
  outline-color: $color-gray-dark

.technologies-item
  img
    width: 70%

.flip3d
  border-radius: 20%
  height: 120px
  margin: 50px auto
  position: relative
  width: 120px
  &:hover .front
    transform: perspective(600px) rotateY(-180deg)
  &:hover .back
    transform: perspective(600px) rotateY(0deg)
  @media (max-width: 576px)
    height: 100px
    width: 100px

  .front
    @include icon-style
    font-size: 4em
    transform: perspective(600px) rotateY(0deg)

  .back
    @include icon-style
    font-size: 2em
    transform: perspective(600px) rotateY(180deg)
    &.small
      font-size: 1.5em
      @media (max-width: 576px)
        font-size: 1.3em

//  CONTACT SECTION
.contact
  background-color: $color-gray-dark
  color: $color-beige
  fieldset
    border: none
    font-family: $font-primary
    margin: 0 auto
    padding: 20px
    width: 550px
    @media (max-width: 576px)
      width: 100%
  input, textarea
    border: none
    border-radius: 5px
    display: block
    font-family: $font-primary
    font-size: 1em
    margin: 10px auto
    padding: 10px
    resize: vertical
    width: 100%
    &.button
      background: $color-beige
      color: $color-almost-black

.social
  margin: 50px auto
  i
    font-size: 3em
    margin: 0 50px
    color: $color-beige
    &:active, &:visited
      color: $color-beige
    &:hover
      color: $color-almost-black
